<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../css/main.css"/>
<body>
<div class="main">
    <ul class="members-list">
        <li class="list">
            <h2 class="members-title">姓名： Shirley<em>职业： 编辑</em></h2>
            <i class="members-rank">1</i>
            <div class="members-main">
                <h4>岗位描述</h4>
                <p>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</p>
                <h4>前端技术概括</h4>
                <p>入门新新人</p>
                <h4>自我描述</h4>
                <p>迷茫胆怯，想要不断学习</p>
                <h4>联系方式</h4>
                <span class="emil">phoenixmumu@163.com</span>
            </div>
        </li>
        <li class="list">
            <h2 class="members-title">姓名： LSL<em>职业： 前端开发</em></h2>
            <i class="members-rank">5</i>
            <div class="members-main">
                <h4>岗位描述</h4>
                <p>成都多盟科技研发部，页面实现与优化。数据接入</p>
                <h4>前端技术概括</h4>
                <p>1.html&css 2.Javascript&jQuery 3.angular.js <br/>4.sass&less 5.node.js&express 6.bootstrap 7.gulp</p>
                <h4>自我描述</h4>
                <p>迷茫胆怯，想要不断学习</p>
                <h4>联系方式</h4>
                <span class="emil">1156021653@qq.com</span>
            </div>
        </li>
        <li class="list">
            <h2 class="members-title">姓名： 陈治平<em>前端工程师</em></h2>
            <i class="members-rank">1</i>
            <div class="members-main">
                <h4>岗位描述</h4>
                <p>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</p>
                <h4>职位要求</h4>
                <ol>
                    <li>有较丰富游戏经验，熟悉国内外游戏行业动态，对游戏美术、动漫等领域有系统的了解，在游戏视觉表现力方面有较深认识；</li>
                    <li>同市场、产品相关人员讨论产品核心卖点，并给予有效的视觉设计策略支持，能够主导重点项目的视觉设计方向， 并完成主要视觉设计工作；</li>
                    <li>三年以上视觉设计从业经验；</li>
                    <li>有较好的专业知识广度，能够结合自身设计经验，根据业务需求推动方法论建设以及相关研究工作；</li>
                    <li>熟练操作相关设计软件（PS,AI），熟悉FLASH，Dreamweaver等软件者最佳；</li>
                    <li>良好的项目管理和沟通表达能力，对行业内的成本构成与业务规范有深入了解；</li>
                    <li>善于沟通，关注用户体验细节，有较强理解力与出色的沟通能力同时具备优秀的视觉表现能力。</li>
                </ol>
                <ul>
                    <li>简历投放地址：<span class="emil">11111111@qq.com</span></li>
                    <li>工作地点：深圳、上海</li>
                </ul>
            </div>
        </li>
        <li class="list">
            <h2 class="members-title">姓名： 陈治平<em>前端工程师</em></h2>
            <i class="members-rank">1</i>
            <div class="members-main">
                <h4>岗位描述</h4>
                <p>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</p>
                <h4>职位要求</h4>
                <ol>
                    <li>有较丰富游戏经验，熟悉国内外游戏行业动态，对游戏美术、动漫等领域有系统的了解，在游戏视觉表现力方面有较深认识；</li>
                    <li>同市场、产品相关人员讨论产品核心卖点，并给予有效的视觉设计策略支持，能够主导重点项目的视觉设计方向， 并完成主要视觉设计工作；</li>
                    <li>三年以上视觉设计从业经验；</li>
                    <li>有较好的专业知识广度，能够结合自身设计经验，根据业务需求推动方法论建设以及相关研究工作；</li>
                    <li>熟练操作相关设计软件（PS,AI），熟悉FLASH，Dreamweaver等软件者最佳；</li>
                    <li>良好的项目管理和沟通表达能力，对行业内的成本构成与业务规范有深入了解；</li>
                    <li>善于沟通，关注用户体验细节，有较强理解力与出色的沟通能力同时具备优秀的视觉表现能力。</li>
                </ol>
                <ul>
                    <li>简历投放地址：<span class="emil">11111111@qq.com</span></li>
                    <li>工作地点：深圳、上海</li>
                </ul>
            </div>
        </li>
        <li class="list">
            <h2 class="members-title">姓名： 陈治平<em>前端工程师</em></h2>
            <i class="members-rank">1</i>
            <div class="members-main">
                <h4>岗位描述</h4>
                <p>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</p>
                <h4>职位要求</h4>
                <ol>
                    <li>有较丰富游戏经验，熟悉国内外游戏行业动态，对游戏美术、动漫等领域有系统的了解，在游戏视觉表现力方面有较深认识；</li>
                    <li>同市场、产品相关人员讨论产品核心卖点，并给予有效的视觉设计策略支持，能够主导重点项目的视觉设计方向， 并完成主要视觉设计工作；</li>
                    <li>三年以上视觉设计从业经验；</li>
                    <li>有较好的专业知识广度，能够结合自身设计经验，根据业务需求推动方法论建设以及相关研究工作；</li>
                    <li>熟练操作相关设计软件（PS,AI），熟悉FLASH，Dreamweaver等软件者最佳；</li>
                    <li>良好的项目管理和沟通表达能力，对行业内的成本构成与业务规范有深入了解；</li>
                    <li>善于沟通，关注用户体验细节，有较强理解力与出色的沟通能力同时具备优秀的视觉表现能力。</li>
                </ol>
                <ul>
                    <li>简历投放地址：<span class="emil">phoenixmumu@163.com</span></li>
                    <li>工作地点：深圳、上海</li>
                </ul>
            </div>
        </li>
        <li class="list">
            <h2 class="members-title">姓名： 陈治平<em>前端工程师</em></h2>
            <i class="members-rank">1</i>
            <div class="members-main">
                <h4>岗位描述</h4>
                <p>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</p>
                <h4>职位要求</h4>
                <ol>
                    <li>有较丰富游戏经验，熟悉国内外游戏行业动态，对游戏美术、动漫等领域有系统的了解，在游戏视觉表现力方面有较深认识；</li>
                    <li>同市场、产品相关人员讨论产品核心卖点，并给予有效的视觉设计策略支持，能够主导重点项目的视觉设计方向， 并完成主要视觉设计工作；</li>
                    <li>三年以上视觉设计从业经验；</li>
                    <li>有较好的专业知识广度，能够结合自身设计经验，根据业务需求推动方法论建设以及相关研究工作；</li>
                    <li>熟练操作相关设计软件（PS,AI），熟悉FLASH，Dreamweaver等软件者最佳；</li>
                    <li>良好的项目管理和沟通表达能力，对行业内的成本构成与业务规范有深入了解；</li>
                    <li>善于沟通，关注用户体验细节，有较强理解力与出色的沟通能力同时具备优秀的视觉表现能力。</li>
                </ol>
                <ul>
                    <li>简历投放地址：<span class="emil">11111111@qq.com</span></li>
                    <li>工作地点：深圳、上海</li>
                </ul>
            </div>
        </li>
        <div class="clear-both"></div>
    </ul>
</div>

<script src="../js/page/joinus.js"></script>
</body>
</html>