<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../css/task_1_3_1.css"/>
<body>
<main class="box">
    <!--left start-->
    <section class="left">
        <img src="../img/task_1_3_1/logo.jpg" alt="logo" title="logo"/>
        <h3>前端奋斗</h3>upup
    </section>
    <!--left end-->

    <!--right start-->
    <section class="right">
        <ul>
            <li><img src="../img/task_1_3_1/head_img_1.jpg" alt="头像" title="头像"/></li>
            <li><img src="../img/task_1_3_1/head_img_2.jpg" alt="头像" title="头像"/></li>
            <li><img src="../img/task_1_3_1/head_img_3.jpg" alt="头像" title="头像"/></li>
            <li><img src="../img/task_1_3_1/head_img_4.jpg" alt="头像" title="头像"/></li>
            <li><img src="../img/task_1_3_1/head_img_5.jpg" alt="头像" title="头像"/></li>
        </ul>

    </section>
    <!--right end-->

    <!--center start-->
    <section class="center">
        <header>
            <h1>关于我们</h1>

        <!--team introduce start-->
            <dl>
                <dt>刘高帅</dt>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
            </dl>
            <dl>
                <dt>刘高帅</dt>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
            </dl>
            <dl>
                <dt>刘高帅</dt>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
            </dl>
            <dl>
                <dt>刘高帅</dt>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
            </dl>
            <dl>
                <dt>刘高帅</dt>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
                <dd>隶属于腾讯公司互动娱乐业务系统市场部，负责游戏产品网站视觉表现以及其他相关推广类美术设计工作。</dd>
            </dl>
        <!--team introduce end-->
        </header>
    </section>
    <!--center end-->
</main>
</body>
</html>